<div class="container main mt-3">
  <h3>Courses</h3>
  <hr>
  <div class="row">
    <div class="col-6">
      <form class="form-inline">
        <div class="form-group mx-sm-6 mb-2">
          <label for="inputPassword2" class="sr-only">Search</label>
          <input type="text" class="form-control" id="search" name="search" placeholder="Search">
        </div>
        <button type="button" class="btn btn-primary mb-2">Search</button>
      </form>
    </div>
    <div class="col-3">
    <select name="" id="" class="form-control" (change)="onLimitChange($event)">
      <option value="8">Defualt</option>
      <option value="1">1</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>

    </select>
    </div>
    <div class="col-3">
      <a class="btn btn-primary float-right" [routerLink]="['/courses', 'new']">New Course</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <app-courses-list></app-courses-list>
    </div>

    <div class="col-6">
      <!-- <app-course-details></app-course-details> -->
      <router-outlet></router-outlet>
    </div>
  </div>

</div>