<div class="row">
    <div class="col-12">
        <h3>
            Courses list
        </h3>
        <h5 *ngIf="clickedCourseTitle">
            Course {{clickedCourseTitle}} is clicked
        </h5>
        <hr>
    </div>
    <div class="col-12">
        <!-- <ul class="list-group"> 
            <app-courses-item *ngFor="let course of courses" [title]="course.title" [instructor]="course.instructor"
            [isAvailabel]="course.isAvailabel"  (courseClick)="onCourseClick($event)"  (click)="onCourseItemClick(course)"></app-courses-item>
        </ul> -->
        <ul class="list-group">
            <app-courses-item *ngFor="let course of courses" [course]="course" (courseClick)="onCourseClick($event)"
                (click)="onCourseItemClick(course)" queryParamsHandling='merge'></app-courses-item>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-2">
        <nav aria-label="...">
            <ul class="pagination pagination-sm">
                <li *ngFor="let page of pages; index as i" class="page-item" [ngClass]="{active: currentPage == i + 1}"
                    [routerLink]="['/courses']" [queryParams]="{page: i+1}" queryParamsHandling='merge'>
                    <a class="page-link">{{i+1}}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>